*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before, *::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :after{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,-a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul il{list-style:none;}
img{vertical-align: top;}

body{
    font-family: 'Gilroy';
}
.wrapper{
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.header {
}
.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__row {
}
.header__nav {
    padding: 32px 0;
    border-bottom: 1px solid #828282;
    display: flex;
    justify-content: space-between;
}
    
.header__link {
    font-size: 1.125rem;
    font-weight: 700;
    color: #828282;
}
.header__link-text {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    color: black;
    
    
}

.what {
}
.container {
    display: flex;

}
.what__row {
    margin: 0px auto;

    
}
.what__image {
    flex: 0 0 430px;

}
.what__body {
}
.what__title {
}
.title {
}
.what__text {
}


